<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,"></script>
  </head>
  <body class="w-full p-4 h-screen grid">
    <div class="w-full h-full border rounded-md p-4">
      <video width="352" height="198" controls autoplay>
        <source
          src="http://localhost:5173/1695925200637088203/playlist.m3u8"
          type="application/x-mpegURL"
        />
      </video>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
  </body>
  <script></script>
</html>
